GUI/Connected Services/AWSSortMidServiceReference/SortMidService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaskAllocationLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaskAllocationLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://task-allocations-lb-213395435.us-east-1.elb.amazonaws.com/SortMidService/SortMidService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TaskAllocationInput">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Coefficients" nillable="true" type="q1:ArrayOffloat" />
      <xs:element minOccurs="0" name="MaxDuration" type="xs:float" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Processors" nillable="true" type="q2:ArrayOfKeyValueOfstringfloat" />
      <xs:element minOccurs="0" name="RefFrequency" type="xs:float" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tasks" nillable="true" type="q3:ArrayOfKeyValueOfstringfloat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskAllocationInput" nillable="true" type="tns:TaskAllocationInput" />
  <xs:complexType name="ArrayOfTaskAllocationOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskAllocationOutput" nillable="true" type="tns:TaskAllocationOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskAllocationOutput" nillable="true" type="tns:ArrayOfTaskAllocationOutput" />
  <xs:complexType name="TaskAllocationOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllocationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnergyConsumed" type="xs:float" />
      <xs:element minOccurs="0" name="MachineIP" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Processors" nillable="true" type="q4:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      <xs:element minOccurs="0" name="TimeConsumed" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskAllocationOutput" nillable="true" type="tns:TaskAllocationOutput" />
</xs:schema>